default_language_version:
    python: python3.7
repos:
-   repo: https://github.com/python/black
    rev: stable
    hooks:
    - id: black
-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.7.8'  # pick a git hash / tag to point to
    hooks:
    - id: flake8
      args: [--count, --show-source, --statistics, "--select=E9,F63,F7,F82"]
