language: python
python:
  - "2.6"
  - "2.7"
  - "3.5"
install:
    - pip install -r test/requirements.txt
    - if [[ $TRAVIS_PYTHON_VERSION = 2* ]] ; then pip install -r test/requirements2.txt; fi
script: python test/alltests.py
before_install:
  - "sudo mkdir -p /usr/include/postgresql/8.4/server"
#  - 'sudo apt-get -o Dpkg::Options::="--force-overwrite" install python-profiler'
before_script:
  - "psql -c 'create database webpy;' -U postgres"
  - mysql --user=root -e "create user 'scott'@'localhost' identified by 'tiger'; create database webpy; grant all privileges on webpy.* to 'scott'@'localhost' with grant option;"
notifications:
  irc: "irc.freenode.org#webpy"
