[client]
default-character-set=utf8
host=127.0.0.1
port=3306
user=root
password='root'

[mysql]
default-character-set=utf8

[mysqld]
collation-server = utf8_unicode_ci
character-set-server = utf8
default_authentication_plugin = mysql_native_password
